{% extends "bootstrap/base.html" %}

{% block title %}
Dashboard
{% endblock %}

{% block styles %}
{{super()}}
<link rel="icon" href="{{ url_for('.static', filename='favicon.ico')}}" type="image/x-icon">
<link rel="stylesheet" href="{{url_for('.static', filename='dashboard.css')}}">
{% endblock %}

{% block content %}
    <nav style="background-color:#800000" class="navbar navbar-inverse navbar-fixed-top">
      <div class="container">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>


          </button>
          <a class="navbar-brand" href=""{{ url_for('index') }}"">Iron Bronco Triathlon</a>
        </div>
        <div id="navbar" class="navbar-collapse collapse">
          <ul class="nav navbar-nav navbar-right">
            <li><a href="{{ url_for('index') }}">Home</a></li>
            <li><a href="{{ url_for('about') }}">About</a></li>
            <li><a href="{{ url_for('dashboard') }}">Dashboard</a></li>
            <li><a href="{{ url_for('teamFormation') }}">Team Formation</a></li>
            <li><a href="{{ url_for('logout') }}">Log Out</a></li>
          </ul>
        </div>
      </div>
    </nav>
        </div>
        <div>
          <h1 class="page-header" style="text-align:center; color: White">Welcome, Insert Name</h1>
          <!-- Show Progress -->
          <h4 style="color:White;">Total Progress {{player.teamid}}</h4>
          <h5 style="color:White;">Swimming: {{"%.1f"|format(player.swimming)}} miles</h5>
          <div class="meter"> 
            <div class="progress"></div> 
          </div>           
          <h5 style="color:White;">Cycling: {{"%.1f"|format(player.cycling)}} miles</h5>
          <h5 style="color:White;">Running: {{"%.1f"|format(player.running)}} miles</h5>
          <!-- Update Progress -->
          <div class="Progress_Status">
            <div class="myprogressBar" ></div>
            <h4 style="color: White">Update Progress</h4>
            <form method="POST">
              <div class="form-row">
                <label for="swimming" style="color: White">Swimming</label>
                <input class="form-control" min="0.0" max="2.4" type="number" placeholder="Input Miles Swam (miles)" id="swimming" name="swimming">
              </div>
              <br>
              <div class="form-row">
                <label for="cycling" style="color: White">Cycling</label>
                <input class="form-control" min="0.0" max="112.0" type="number" placeholder="Input Miles Cycled (miles)" id="cycling" name="cycling">
              </div>
              <br>
              <div class="form-row">
                <label for="running" style="color: White">Running</label>
                <input class="form-control" min="0.0" max="26.2" type="number" placeholder="Input Miles Run (miles)" id="running" name="running">
              </div>
              <br>
              <button type="submit" class="btn btn-lg btn-primary btn-block" style="float:right; background-color: #800000">Update Distances</button>
            </form>
            <br>
            <br>
            <br>
            <!-- <h4 style="color: White">Distance Biked</h4>
            <div id='meter'><div id='progress'>0%</div></div>
            <br>
            <p style="color: White">Completed Distance (miles)</p>
            <input type="text" id="tb">
            <br>
            <p style="color: White">Input Distance:</p>
            <input type="button" value="Add" onclick="increase()"/>
            <input type="button" value="Minus" onclick="decrease()"/> -->


            <!-- <script>
              var value = 0, 
              tb = document.getElementById("tb"),
              progress = document.getElementById("progress"); //store these, it's better
              function increase(){ 
                value++;// same as value += 1, but better
                if(value>=112) value = 112;//keep it under 100%
                tb.value = value;// set the value of the text field     
                progress.style.width = Math.round(value/112*100) + "%";// set the width of the progress bar 
                progress.innerHTML = Math.round(value/112*100 * 1)  + '%'; 
              } 
              function decrease(){ 
                value--;
                if(value<=0) value = 0;//keep it over 0%
                tb.value = value; 
                progress.style.width = Math.round(value/112*100) + "%";
                progress.innerHTML = Math.round(value/112*100) * 1  + '%'; 
              } 
              </script> -->
          </div>
          <br>
        </div>
{% endblock %}
