{% extends "bootstrap/base.html" %}

{% block title %}
Dashboard
{% endblock %}

{% block styles %}
{{super()}}
<link rel="icon" href="{{ url_for('.static', filename='favicon.ico')}}" type="image/x-icon">
<link rel="stylesheet" href="{{url_for('.static', filename='dashboard.css')}}">
{% endblock %}

{% block content %}
    <nav style="background-color:#800000" class="navbar navbar-inverse navbar-fixed-top">
      <div class="container">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="{{ url_for('index') }}">Iron Bronco Triathlon</a>
        </div>
        <div id="navbar" class="navbar-collapse collapse">
          <ul class="nav navbar-nav navbar-right">
            <li><a href="{{ url_for('index') }}">Home</a></li>
            <li><a href="{{ url_for('about') }}">About</a></li>
            <li><a href="{{ url_for('dashboard') }}">Dashboard</a></li>
            <li class="dropdown"><a class="dropdown-toggle" data-toggle="dropdown" href="#">Team Options <span class="caret"></span></a>
              <ul class="dropdown-menu">
                <li><a href="{{ url_for('teamFormation') }}">Team Formation</a></li>
                <li><a href="{{ url_for('joinTeam') }}">Join Team</a></li>
                <li><a href="{{ url_for('lookingForTeam') }}">Looking for Team</a></li>
                <li><a href="{{ url_for('lookingForMembers') }}">Looking for Members</a></li>
              </ul>
            </li>
            <li><a href="{{ url_for('logout') }}">Logout</a></li>
          </ul>
        </div>
      </div>
    </nav>
    <div>
        <h1 class="page-header">Welcome, {{player.name}}</h1>  
        <!-- Show Progress -->
        {% if team %}
        <h2 style="color:White;">Team {{team.team}}</h2>  
        <h4 style="color:White;">Members: {{team.player1}}</h4> 
          {% if team.player2 != "null" %}
            <h4 style="color:White;">{{team.player2}}</h4>
          {% endif %}
          {% if team.player3 != "null" %}
            <h4 style="color:White;">{{team.player3}}</h4>
          {% endif %}
        <h4 style="color:White;">Total Progress of Team {{team.team}}</h4>
        <h5 style="color:White;">Swimming: {{"%.1f"|format(team.swimming)}} miles</h5>       
        <h5 style="color:White;">Cycling: {{"%.1f"|format(team.cycling)}} miles</h5>
        <h5 style="color:White;">Running: {{"%.1f"|format(team.running)}} miles</h5>          
        {% endif %}
        <h4 style="color:White;">Total Progress of {{player.name}}</h4>
        <h5 style="color:White;">Swimming: {{"%.1f"|format(player.swimming)}} miles</h5>       
        <h5 style="color:White;">Cycling: {{"%.1f"|format(player.cycling)}} miles</h5>
        <h5 style="color:White;">Running: {{"%.1f"|format(player.running)}} miles</h5>

        <!-- Update Progress -->
        <div class="Progress_Status">
          <div class="myprogressBar" ></div>
            <h4 style="color: White">Update Progress</h4>
            <form method="POST">
              <div class="form-row">
                <label for="swimming" style="color: White">Swimming</label>
                <div class="slidecontainer">
                    <input type="range" min="0.0" max="2.4" step="0.1" value="0" class="slider" id="swimming" name="swimming">
                    <p style="color: White">Value: <span id="demo"></span></p>
                </div>
                <script>
                    var slider = document.getElementById("swimming");
                    var output = document.getElementById("demo");
                    output.innerHTML = slider.value;

                    slider.oninput = function() {
                      output.innerHTML = this.value;
                    }
                </script>
              </div>
              <br>
              <div class="form-row">
                <label for="cycling" style="color: White">Cycling</label>
                <div class="slidecontainer">
                    <input type="range" min="0.0" max="112.0" step="0.1" value="0" class="slider" id="cycling" name="cycling">
                    <p style="color: White">Value: <span id="demo2"></span></p>
                </div>
                <script>
                    var slider2 = document.getElementById("cycling");
                    var output2 = document.getElementById("demo2");
                    output2.innerHTML = slider2.value;

                    slider2.oninput = function() {
                      output2.innerHTML = this.value;
                    }
                </script>
              </div>
              <br>
              <div class="form-row">
                <label for="running" style="color: White">Running</label>
                <div class="slidecontainer">
                    <input type="range" min="0.0" max="26.2" step="0.1" value="0" class="slider" id="running" name="running">
                    <p style="color: White">Value: <span id="demo3"></span></p>
                </div>
                <script>
                    var slider3 = document.getElementById("running");
                    var output3 = document.getElementById("demo3");
                    output3.innerHTML = slider3.value;

                    slider3.oninput = function() {
                      output3.innerHTML = this.value;
                    }
                </script>
              </div>
              <br>
              <button style="padding:10px; color: white; background-color: #800000;" type="submit" value="create" name="btn">Update Distances</button>
            </form>
            <br>
            <br>
            <br>
        </div>
        <br>
      </div>
{% endblock %}
