{% extends "bootstrap/base.html" %}
{% import "bootstrap/wtf.html" as wtf %}

{% block title %}
Join Team
{% endblock %}

{% block styles %}
{{super()}}
<link rel="icon" href="{{ url_for('.static', filename='favicon.ico')}}" type="image/x-icon">
<link rel="stylesheet" href="{{url_for('.static', filename='starter-template.css')}}">
{% endblock %}

{% block content %}
    <nav style="background-color:#800000" class="navbar navbar-inverse navbar-fixed-top">
      <div class="container">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="{{ url_for('dashboard') }}">Iron Bronco Triathlon</a>
        </div>
        <div id="navbar" class="navbar-collapse collapse">
          <ul class="nav navbar-nav navbar-right">
            <li><a href="{{ url_for('index') }}">Home</a></li>
            <li><a href="{{ url_for('about') }}">About</a></li>
            <li><a href="{{ url_for('dashboard') }}">Dashboard</a></li>
            <li class="dropdown"><a class="dropdown-toggle" data-toggle="dropdown" href="#">Team Options <span class="caret"></span></a>
              <ul class="dropdown-menu">
                <li><a href="{{ url_for('teamFormation') }}">Create Team</a></li>
                <li><a href="{{ url_for('joinTeam') }}">Join Team</a></li>
                <li><a href="{{ url_for('lookingForTeam') }}">Looking for Team</a></li>
                <li><a href="{{ url_for('lookingForMembers') }}">Looking for Members</a></li>
              </ul>
            </li>
            <li><a href="{{ url_for('logout') }}">Logout</a></li>
          </ul>
        </div>
      </div>
    </nav>
        </div>
        <div>

    <div class = "container">
        <div class = "starter-template">
            <h1 style="color: White">Joining a Team</h1>
        </div>
    </div>

    <div class="Progress_Status" style="width: 20%;">
        <div class="myprogressBar" ></div>
       <form style="color: White;" method="POST">
          {{ formJT.hidden_tag() }}
          {{ wtf.form_field(formJT.teamid) }}
          {{ wtf.form_field(formJT.password) }}
        <button style="padding:10px; background-color: #800000;" type="submit" value="create" name="btn">Join Team</button>
      </form>
    </div>
    <br>
{% endblock %}